* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

body {
  background-color: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
}

.box {
  height: 100px;
  flex-grow: 1;
}

.one {
  background-color: red;
  flex-basis: 100px;
}

.two {
  background-color: blue;
  flex-basis: 200px;
}

.three {
  background-color: green;
  flex-basis: 300px;
}

.flex-container-grow {
  display: flex;
  background-color: snow;
  margin-top: 100px;
  flex-wrap: wrap;
}

.square {
  height: 100px;
}

.sq1 {
  background-color: violet;
  flex-grow: 1;
}

.sq2 {
  background-color: coral;
  flex-grow: 3;
}

.sq3 {
  background-color: gold;
  flex-grow: 1;
}
